html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #58646d;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 17.5rem;
    min-height: 17.5rem;
    background: -webkit-linear-gradient(290deg, #02ccba 0%, #aa7ecd 100%);
    background: -o-linear-gradient(290deg, #02ccba 0%, #aa7ecd 100%);
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 0.8125rem;
    border-radius: 0.625rem;
    -webkit-box-shadow: 0.5rem 0.625rem 0.875rem 0 rgba(46, 61, 73, 0.5);
            box-shadow: 0.5rem 0.625rem 0.875rem 0 rgba(46, 61, 73, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 3em;
}

@media screen and (min-width: 23rem) {
    .deck {
        width: 21.25rem;
        min-height: 20.625rem;
        padding: 0.9375rem;
    }
} 

@media screen and (min-width: 27.5rem) {
    .deck {
        width: 25.625rem;
        min-height: 25rem;
        padding: 1.125rem;
    }
} 

@media screen and (min-width: 37.5rem) {
    .deck {
        width: 35.625rem;
        min-height: 35.3125rem;
        padding: 1.25rem;
    }
}

.deck .card {
    height: 3.3125rem;
    width: 3.3125rem;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 0.5rem;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0.3125rem 0.125rem 1.25rem 0 rgba(46, 61, 73, 0.5);
            box-shadow: 0.3125rem 0.125rem 1.25rem 0 rgba(46, 61, 73, 0.5);
    -webkit-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
    
}

@media screen and (min-width: 23rem) {
    .deck .card {
        height: 4.1875rem;
        width: 4.1875rem;
    } 
}

@media screen and (min-width: 27.5rem) {
    .deck .card {
        height: 5rem;
        width: 5rem;
    } 
}

@media screen and (min-width: 37.5rem) {
    .deck .card {
        height: 7.375rem;
        width: 7.375rem;
    } 
}
.deck .card.open {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.deck .card.show {
    font-size: 1.3rem;
}

@media screen and (min-width: 27.5rem){
    .deck .card.show{
        font-size: 2.0625rem;
    }
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 1.3rem;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

@media screen and (min-width: 27.5rem){
    .deck .card.match{
        font-size: 2.0625rem;
    }
}

.deck .card.miss-match {
    cursor: default;
    background: #cc5302;
    font-size: 1.3rem;
}

@media screen and (min-width: 27.5rem){
    .deck .card.miss-match{
        font-size: 2.0625rem;
    }
}

.miss-anim {
    -webkit-animation: shake .5s;
            animation: shake .5s; 
    -webkit-animation-iteration-count: 1; 
            animation-iteration-count: 1; 
}

.match-anim {
    -webkit-animation: scale .5s;
            animation: scale .5s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
}

@-webkit-keyframes scale {
    0% { -webkit-transform: scale(0.9); transform: scale(0.9); }
    20% { -webkit-transform: scale(1.01); transform: scale(1.01); }
    40% { -webkit-transform: scale(0.9); transform: scale(0.9); }
    60% { -webkit-transform: scale(1.01); transform: scale(1.01); }
    80% { -webkit-transform: scale(0.9); transform: scale(0.9); }
    100% { -webkit-transform: scale(1.01); transform: scale(1.01); }
}

@keyframes scale {
    0% { -webkit-transform: scale(0.9); transform: scale(0.9); }
    20% { -webkit-transform: scale(1.01); transform: scale(1.01); }
    40% { -webkit-transform: scale(0.9); transform: scale(0.9); }
    60% { -webkit-transform: scale(1.01); transform: scale(1.01); }
    80% { -webkit-transform: scale(0.9); transform: scale(0.9); }
    100% { -webkit-transform: scale(1.01); transform: scale(1.01); }
}

@-webkit-keyframes shake {
    0% { -webkit-transform: translate(10px) rotate(2deg); transform: translate(10px) rotate(2deg); }
    20% { -webkit-transform: translate(-10px) rotate(-2deg); transform: translate(-10px) rotate(-2deg); }
    40% { -webkit-transform: translate(6px) rotate(2deg); transform: translate(6px) rotate(2deg); }
    60% { -webkit-transform: translate(-6px) rotate(-2deg); transform: translate(-6px) rotate(-2deg); }
    80% { -webkit-transform: translate(3px) rotate(2deg); transform: translate(3px) rotate(2deg); }
    100% { -webkit-transform: translate(-3px) rotate(-2deg); transform: translate(-3px) rotate(-2deg); }
}

@keyframes shake {
    0% { -webkit-transform: translate(10px) rotate(2deg); transform: translate(10px) rotate(2deg); }
    20% { -webkit-transform: translate(-10px) rotate(-2deg); transform: translate(-10px) rotate(-2deg); }
    40% { -webkit-transform: translate(6px) rotate(2deg); transform: translate(6px) rotate(2deg); }
    60% { -webkit-transform: translate(-6px) rotate(-2deg); transform: translate(-6px) rotate(-2deg); }
    80% { -webkit-transform: translate(3px) rotate(2deg); transform: translate(3px) rotate(2deg); }
    100% { -webkit-transform: translate(-3px) rotate(-2deg); transform: translate(-3px) rotate(-2deg); }
}
/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 21.5625rem;
    margin-bottom: 0.625rem;
}

.score-panel .stars {
    margin-left: 1.875rem;
    display: inline-block;
    margin: 0 0.3125rem 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
    margin-right: 2.5rem;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
    -o-transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
}


.modal-content {
    text-align: center;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); 
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
    top: 50%;
    left: 50%;
}


.modal button{
    padding: 0.625rem 1.25rem;
    color: #fff;
    background-color: #02b3e4;
    border: none;
    border-radius: 0.125rem;
}

.close-button {
    position: absolute;
    width: 1.5rem;
    line-height: 1.5rem;
    top: 0.5rem;
    right: 0.5rem;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    background-color: #02b3e4;
}

.close-button:hover, .modal .btn:hover {
    background-color: #0789ad;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
    -o-transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
}

.star-hide{
    font-size: 0;
}

.close-button, .btn{
    font-size: 1rem;
}


  @media screen and (min-width: 23rem) {
    .game-stats{

    }
} 
